@using EntityLayer.WebApplication.ViewModels.PortfolioVM
@model PortfolioAddVM
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>AddPortfolio</h1>

