@using EntityLayer.WebApplication.ViewModels.PortfolioVM
@model PortfolioUpdateVM
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>UpdatePortfolio</h1>

