@using EntityLayer.WebApplication.ViewModels.TeamVM
@model List<TeamListVM>
@{
    ViewData["Title"] = "GetTeamList";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>GetTeamList</h1>

