@using EntityLayer.WebApplication.ViewModels.TestmonalVM
@model TestmonalAddVM
@{
    ViewData["Title"] = "AddTestmonal";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>AddTestmonal</h1>

