@using EntityLayer.WebApplication.ViewModels.TestmonalVM
@model List<TestmonalListVM>
@{
    ViewData["Title"] = "GetTestmonalList";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>GetTestmonalList</h1>

