@using EntityLayer.WebApplication.ViewModels.TestmonalVM
@model TestmonalUpdateVM
@{
    ViewData["Title"] = "UpdateTestmonal";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>UpdateTestmonal</h1>

