@using EntityLayer.WebApplication.ViewModels.SocialMediaVM
@model SocialMediaAddVM
@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>AddSocialMedia</h1>

