@using EntityLayer.WebApplication.ViewModels.SocialMediaVM
@model List<SocialMediaListVM>
@{
    ViewData["Title"] = "GetSocialMediaList";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>GetSocialMediaList</h1>

