@using EntityLayer.WebApplication.ViewModels.SocialMediaVM
@model SocialMediaUpdateVM
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>UpdateSocialMedia</h1>

